.bg-yellow {
    background-color: #ffd100 !important;
}

.bg-violet {
    background-color: rgb(207, 174, 252) !important;
}

.bg-dark-blue {
    background-color: #370C75 !important;
}

.bg-marine-blue {
    background-color: #524C98 !important;
}

.bg-black {
    background-color: #161616 !important;
}

.bg-blue {
    background-color: #0087c0 !important;
}

.bg-grey {
    background-color: #DEE6F2 !important;
}

.bg-orange {
    background-color: #E06A4A !important;
}