:root {
    --circle-size: clamp(1.2rem, 3vw, 2rem);
    --spacing: clamp(0.25rem, 2vw, 0.5rem);
}

.c-stepper {
    display: flex;
    justify-content: center;
}

.c-stepper__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

#firstStepItem::before {
    content: "1";
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    background-color: var(--stepOneCircleBg, none);
    border: 1px solid rgb(52, 168, 83);
    color: #fff;
    margin: 0 auto 1rem;
}



#secondStepItem::before {
    content: "2";
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    background-color: var(--stepTwoCircleBg, none);
    border: var(--stepTwoCircleBorder, 1px solid #fff);
    color: #fff;
    margin: 0 auto 1rem;
}

#thirdStepItem::before {
    content: "3";
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    background-color: var(--stepThreeCircleBg, none);
    border: var(--stepThreeCircleBorder, 1px solid #fff);
    color: #fff;
    margin: 0 auto 1rem;
}


#firstStepItem:not(:last-child):after {
    content: "";
    position: relative;
    top: calc(var(--circle-size) / 2);
    width: calc(100% - var(--circle-size) - calc(var(--spacing) * 2));
    left: calc(50% + calc(var(--circle-size) / 2 + var(--spacing)));
    height: 2px;
    background-color: var(--stepOneLineBg, white);

    order: -1;
}

#secondStepItem:not(:last-child):after {
    content: "";
    position: relative;
    top: calc(var(--circle-size) / 2);
    width: calc(100% - var(--circle-size) - calc(var(--spacing) * 2));
    left: calc(50% + calc(var(--circle-size) / 2 + var(--spacing)));
    height: 2px;
    background-color: var(--stepTwoLineBg, white);
    order: -1;
}

#firstStepLabel {
    /* font-weight: bold; */
    font-size: clamp(1rem, 4vw, 12px);
    margin-bottom: 0.5rem;
    color: var(--stepOneLabel, #34A853);
}

#secondStepLabel {
    /* font-weight: bold; */
    font-size: clamp(1rem, 4vw, 12px);
    margin-bottom: 0.5rem;
    color: var(--stepTwoLabel, #fff);
}

#thirdStepLabel {
    /* font-weight: bold; */
    font-size: clamp(1rem, 4vw, 12px);
    margin-bottom: 0.5rem;
    color: var(--stepThreeLabel, #fff);
}



.c-stepper__desc {
    color: grey;
    font-size: clamp(0.85rem, 2vw, 1rem);
    padding-left: var(--spacing);
    padding-right: var(--spacing);
}

.wrapper {
    max-width: 1000px;
    margin: 2rem auto 0;
}