/* Color */
$light : #fff;
$light_primary : #F0F0F0;
$light_secondary : #B8B8B8;
$light_third : #83838F;
$dark : #08070C;
$dark_primary : #1A1921;
$dark_secondary : #3D3A53;
$dark_third : #8A8A9D;
$yellow: #FFD100;
$green : #00F861;

body{
    &.mode-light{
        .sec-tarifs{
            background: $light;
        }
        .bx-info--item{
            border-color: #DCDBDF;
        }
        .bx-info h4, .sec-tarifs .bx-title h3, .acc-faq-primary .card-header button,
        .acc-faq-primary .card-body, .bx-contact span, .sec-tarifs .bx-title select{
            color: #292932;
        }
        .sec-tarifs .bx-title{
            background: #EFEFF4;
        }
        .bx-info--item > span{
            border-color: $light;
        }
        .sec-faq::after{
            background: url(../img/vector-elp-light.png) no-repeat center top/100% 70px;
        }
        .sec-faq{
            background: #EFEFF4;
            h2{
                color: #12131A;
            }
        }
        .acc-faq-primary .card{
            border-color: #292932 !important;
        }
        .sec-tarifs{
            .bx-title{
                select{
                    background: url(../img/arrow-down-light.svg) no-repeat center right 13px/11px;
                    option{
                        background: $light;
                        &:hover,&:focus,&:active,&:checked{
                            color: $dark;
                            font-weight: 700;
                        }
                    }
                }
                h3 span {
                    color: #83838F;
                }
            }
            .bx-table .table{
                border: 1px solid #393946;
                th{
                    background: #393946;
                    color: #fff;
                }
                td{
                    color: #393946;
                    border-bottom-color: #DCDBDF;
                }
            }
        }
        
    }
}

.sec-faq{
    background: $dark_primary;
    padding: 168px 0 111px;
    position: relative;
    h2{
        font-size: 40px;
        font-weight: 700;
        color: $light;
        margin-bottom: 63px;
        text-align: center;
    }

    &::after{
        content: "";
        background: url(../img/vector-elp.png) no-repeat center top/100% 70px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        display: block;
        z-index: 1;
    }
    & > *{
        position: relative;
        z-index: 2;
    }
}

.acc-faq-primary{
    .card{
        background: transparent;
        margin-bottom: 13px;
        border : 1px solid $green !important;
        border-radius: 50px !important;
        &-header{
            margin-bottom: 0;
            background: transparent;
            border-bottom: none;
            button{
                color: $light;
                font-size: 14px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &:hover, &:focus{
                    text-decoration: none;
                }
                span, img{
                    transition: all .3s ease-in-out;
                }
                &:not(.collapsed){
                    color: $yellow;
                    span{
                        transform: rotate(180deg);
                    }
                }
            }
        }
        &-body{
            color: $light;
            font-size: 14px;
            padding: 0 30px 20px;
            h4{
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 15px;
            }
            ul{
                padding-left: 23px;
                margin-bottom: 20px;
                li{
                    list-style: square;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.bx-contact{
    text-align: center;
    margin-top: 50px;
    span{
        color: $light_secondary;
        display: block;
        font-size: 14px;
        margin-bottom: 15px;
    }
    a{
        font-weight: 600;  
        margin-left: 10px;
        background: $light;
        padding: 5px 20px;
        border-radius: 20px;
        color: $dark;
    }
}

@media screen and (max-width : 480.98px) {
    .acc-faq-primary .card-header button, .acc-faq-primary .card-body{
        font-size: 12px;
    }
    .sec-faq{
        padding: 134px 0 53px;
        h2{
            font-size: 25px;
        }
    }
}
