.page-wrapper{
    background: #000;
    color: #fff;
    font-size: 12px;
    padding: 160px 0 40px 0;
}

.heading-txt{
    color: #FFD100 !important;
    text-transform: uppercase;
    font-weight: 700;
}

.shortcut_ li{
   padding: 16px 0;

   border-bottom: 1px solid #FFD100 ;
}
.shortcut_ a{
    color:#fff ;
}

.content-grp{
    padding: 16px 0;
}

.content-grp h5{
    color:#FFD100 ;
}

.fnct-listing {
    list-style-type: square !important;
    padding-left: 24px;
}
